@import "tailwindcss";
@import url('https://fonts.googleapis.com');
@import 'react-pdf/dist/Page/TextLayer.css';
@import 'react-pdf/dist/Page/AnnotationLayer.css';
@theme {
  --font-arvo: "Arvo", serif;
}